<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Perfil Administrador</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>
<body>
	<!-- Barra de navegación -->
	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#">
	  	<img th:src="@{/img/perfil.png}" alt="Icono perfil">
	  	Área <span th:text="${session.perfil}"></span>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav" id="leftNavItems">
		      <li class="nav-item">
		        <p class="nav-link" th:text="'¡Hola ' + ${session.usuario}+ '!'"></p>
		      </li>
				<li class="nav-item">
		        <a class="nav-link" id="cerrar-sesion" th:href="@{/auth/logout}">Cerrar Sesión</a>
		</div>
		      </li>
		    </ul>
		</div>
	</nav>
	<div class="container">

		<div class="d-flex justify-content-center section-container">
			<div class="icon-container">
				<a th:href="@{/personas/registrar-persona}" class="text-decoration-none">
					<img th:src="@{/img/registrar_persona.png}" alt="Persona">
					<p>REGISTRAR PERSONA</p>
				</a>
			</div>
			<div class="icon-container">
				<a th:href="@{/plantas/gestion-plantas}" class="text-decoration-none"> <img
					th:src="@{/img/gestion_planta.png}" alt="Plantas">
					<p>GESTIÓN DE PLANTAS</p>
				</a>
			</div>
			<div class="icon-container">
				<a th:href="@{/ejemplares/gestion-ejemplares}" class="text-decoration-none">
					<img th:src="@{/img/gestion_ejemplares.png}" alt="Ejemplares">
					<p>GESTIÓN DE EJEMPLARES</p>
				</a>
			</div>
			<div class="icon-container">
				<a th:href="@{/mensajes/gestion-mensajes}" class="text-decoration-none">
					<img th:src="@{/img/gestion_mensajes.png}" alt="Mensajes">
					<p>GESTIÓN DE MENSAJES</p>
				</a>
			</div>
			<div class="icon-container">
				<a th:href="@{/ejemplares/gestion-stock}" class="text-decoration-none">
					<img th:src="@{/img/stock.png}" alt="stock">
					<p>GESTIÓN DE STOCK</p>
				</a>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>