<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar pedido</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
  	<img th:src="@{/img/perfil.png}" alt="Icono perfil">
  	Área <span th:text="${session.perfil}"></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav" id="leftNavItems">
	      <li class="nav-item">
	        <p class="nav-link" th:text="'¡Hola ' + ${session.usuario}+ '!'"></p>
	      </li>
	      <li class="nav-item">
	        <div class="cart">
	          <a class="nav-link" id="miCarritoTab" th:href="@{/carrito}">
	            <img th:src="@{/img/carrito2.png}" alt="Carrito">Mi Carrito<span class="badge" th:text="${session.carrito != null ? session.carrito.size() : '0'}"></span>
	          </a>
	        </div>
	      </li>
			<li class="nav-item">
	        <a class="nav-link" id="cerrar-sesion" th:href="@{/auth/logout}">Cerrar Sesión</a>
	      </li>
	    </ul>
	</div>
</nav>

<!-- Pestañas de contenido -->
<div class="container mt-5">
  <div class="tab-content" id="myTabContent">
    <!-- Tab de Realizar Pedido -->
    <div class="tab-pane fade show active" id="realizarPedido" role="tabpanel" aria-labelledby="home-tab">
      <h2>¡Realiza tu pedido!</h2>
      <br>
      <form th:action="@{/carrito/anadir-carrito}" method="POST">
        <!-- Tabla de Plantas -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>PLANTA</th>
              <th>STOCK DISPONIBLE</th>
              <th>CANTIDAD</th>
            </tr>
          </thead>
          <tbody>
                <tr th:each="planta : ${plantas}">
                    <td th:text="${planta.nombreComun.toUpperCase()}"></td>
                    <td th:text="${planta.listaEjemplares.size()}"></td>
                    <input type="hidden" name="nombre" th:value="${planta.nombreComun}">
                    <td>
                        <select class="form-control" th:name="'cantidad[' + ${planta.nombreComun} + ']'">
                            <option th:if="${planta.listaEjemplares.isEmpty()}" disabled selected>No disponible</option>
                            <option th:if="${!planta.listaEjemplares.isEmpty()}" value="0" selected>0</option>
                            <option th:each="ejemplar, iterStat : ${planta.listaEjemplares}" 
                                    th:value="${iterStat.count}" 
                                    th:text="${iterStat.count}">
                            </option>
                        </select>
                    </td>
                </tr>
                <!-- Botón para añadir todas las plantas al carrito -->
                <tr>
                    <td colspan="4">
                    	<div class="boton">
                        <button type="submit" class="btn btn-info rounded-pill px-3">
                            Añadir al Carrito
                        </button>
                        </div>
                    </td>
                </tr>
            </form>
          </tbody>
        </table>
      </form>
    </div>
    
    <div class="alert alert-success" role="alert" th:if="${mensajeCarrito != null}">
      <p th:text="${mensajeCarrito}"></p>
    </div>

<!-- Scripts de Bootstrap y JS personalizado -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
