<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>
<body>
	<!-- Barra de navegación -->
	<nav class="navbar navbar-expand-lg navbar-light">
	   <a class="navbar-brand" th:href="@{/auth/redireccionar}">
	  	<img th:src="@{/img/perfil.png}" alt="Icono perfil">
	  	Área <span th:text="${session.perfil}"></span>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav" id="leftNavItems">
		      <li class="nav-item">
		        <p class="nav-link" th:text="'¡Hola ' + ${session.usuario}+ '!'"></p>
		      </li>
				<li class="nav-item">
		        <a class="nav-link" id="cerrar-sesion" th:href="@{/auth/logout}">Cerrar Sesión</a>
		      </li>
		    </ul>
		</div>
	</nav>
	<body>
    <div class="container mt-4">
    	<img th:src="@{/img/stock.png}" alt="Icono stock"
				width="50">
        <h2 class="text-center mb-4">Gestión de Stock</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Planta</th>
                        <th>Nº de Ejemplares</th>
                        <th>Más detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="planta : ${plantas}">
                        <td th:text="${planta.nombreComun.toUpperCase()}"></td>
                        <td th:text="${planta.listaEjemplares.size()}"></td>
                        <td>
                         <details>
        					<summary>Ver Detalles</summary>
							<ul>
					            <li th:each="ejemplar : ${planta.listaEjemplares}">
					                <span th:text="${ejemplar.nombre}"></span> - 
					                <span th:text="${ejemplar.disponible} ? 'Disponible' : 'No disponible'"></span>
					            </li>
					        </ul>
    					</details>
                        </td>     
                    </tr>
                    <tr>
   
                </tbody>
            </table>
        </div>
    </div>
    	<div class="buttons mt-4">
		<button onclick="window.location.href='/volver'" type="button"
			class="btn color-boton">VOLVER</button>
	</div>
	<!-- Scripts de Bootstrap y JS personalizado -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>