<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar-cliente</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="mb-2 text-center">
        <img th:src="@{/img/cliente.png}" alt="Icono cliente" width="50">
        <h1>Alta de Cliente</h1>
    </div>
	<div class="container mt-3">
    <div class="card shadow-lg p-4 mx-auto" style="max-width: 500px;">
        <form th:action="@{/clientes/registrar-cliente}" method="post">
            <!-- Nombre -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
            </div>

            <!-- NIF/NIE -->
            <div class="mb-3">
                <label for="nif" class="form-label">NIF/NIE</label>
                <input type="text" class="form-control" id="nif" name="nif" required>
            </div>

            <!-- Dirección de Envío -->
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección de Envío</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresa tu dirección" required>
            </div>

            <!-- Teléfono -->
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" required>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com" required>
            </div>

            <!-- Botón de registro -->
            <div class="text-center">
                <button type="submit" class="btn color-boton">Registrar Cliente</button>
            </div>
        </form>
    </div>
        	<div class="buttons">
				<button onclick="window.location.href='/volver'" type="button" class="btn color-boton">VOLVER</button>
			</div>
</div>
	
	<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>