@charset "UTF-8";
body {
	background-color: #EBEBEC;
}

.navbar-brand{
	 margin-left: 150px;
	 margin-top: 15px;
	 font-size: x-large;
}

#leftNavItems {
    margin-left: 65%;  /* Esto empuja los elementos hacia la derecha */
}

#leftNavItems .nav-item {
    margin-right: 10px; /* Espaciado entre los elementos */
}

.nav-item-hover:hover {
  background-color: #f8f9fa;  
  color: #007bff;             
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-item-hover a:hover {
  color: #0056b3;  
}

#navbarNav {
	margin-top: 30px;
}

.navbar {
	background-color: #1987547d;
	padding-bottom: 20px;
}

.navbar img{
	width: 60px;
	height: 60px;
	margin-right: 8px;
	margin-left: 30px
}

#leftNavItems img{
	width: 30px;
	height: 30px;
	margin-right: 8px;
}

#cerrar-sesion:hover {
	color:white;
	background-color: rgba(23,162,184,.6);
	border-radius: 15px;
}

.boton{
	display:flex;
	justify-content:center;
	padding-bottom: 10px;
}

.badge {
	position: absolute;
	top: 1px;
	right: 88px;
	font-weight: 700;
	font-family: sans-serif;
	font-size: 13px;
	color: #fff;
	background-color: #17a2b8;
	border: 1px solid #fff;
	padding: 2px 6px;
	min-width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 85%;
}

.badge:empty {
	display: none;
}

.cart {
	position: relative;
	width: auto;
	height: auto;
	margin: 0 15px;
	display: inline-block;
}

.cart img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}


